@media only screen and (min-width:800px) and (max-width: 1025px){
  #header-content{
    display: inline-flex;
    align-items: center;


    padding-left: 200px;

    position: relative;
    bottom: -16px;
  }

  .header {
    height: 380px !important;
  }

  .tab{
    display: none;
  }


  .tabcontent{
    position: relative;
    left: -50px;
    top: 34px;

    width: 100%;

    padding-bottom: 0px;

}
}

@media only screen and (min-width:500px) and (max-width: 799px){
  #header-content{
    display: inline-flex;
    align-items: center;


    padding-left: 70px;

    position: relative;
    bottom: -16px;
  }



  .tab{
    display: none;
  }


  .tabcontent{
    position: relative;
    left: -50px;
    top: 10px;

    width: 100%;

    padding-bottom: 20px !important;

}

ul{
  margin-left: 0px !important;
}

.about-container{
    width: 96% !important;
    margin-bottom: 30px;

    position: relative;
    left: 0px !important;
}


#about-txt{
  padding-left:40px;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;

}
}

@media only screen and (max-width: 500px){

  *{
    max-width: 100% !important;
    max-height: 100% !important;


  }

  .navlink{
    font-weight: 300 !important;
  }

  #active{
    font-weight: 700 !important;
    opacity: 100% !important;
  }

  #inactive{
    opacity: 40% !important;
  }

  .header{
    height: 206px !important;
  }

  #header-content{

    padding-top: 10px !important;

  }


  #site-title{
    max-width: 300px !important;
    line-height: 58px !important;
    
  }

  #navbar{
    padding-top: 20px !important;
  }
  h1{
    line-height: 54px !important;
    padding-top: 48px !important;
  }

  h2{
    padding-top: 6px !important;
  }

  .tab {

    display: none !important;

  }

  #portrait{
    display:none;
  }

  ul{
    padding-left: 16px !important;
    width: 100% !important;
  }

  .about-container{
      width: 100% !important;
      padding-bottom: 60px !important;

      position: relative;
      left: -78px !important;
  }


  #about-txt{
    padding-left:0px !important;
    line-height: 28px;
    margin-left: 0px;
    margin-right: 0px;


  }

}


ul{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;

  color: #000000;

  padding-left:80px;
  line-height: 28px;


  width: 80%;
}

li{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  max-width: 80%;
  color: #000000;

  line-height: 28px;
  margin-left: 14%;

  width: 80%;
}


@keyframes move {
  from {
    transform: translate(0,0);
  }

  to {
    transform: translate(280px,0);
  }
}

@keyframes page-move {
  from {
    transform: translate(0,0);
  }

  to {
    transform: translate(210px,0);
  }
}








.about-container{
    width: 66%;
    padding-bottom: 60px;

    max-width: 1200px;

    margin: auto;
}


#about-txt{
  padding-left:40px;
  line-height: 28px;
  margin-left: 10%;
  margin-right: 10%;


  width: 80%;

}






.top-deco {
  position: relative;
  width: 100%;
  height: 13px;
  left: 0px;
  top: 0px;

  background: #FED56B;
}

.top-tri{
  position: relative;
    top: -26px;
  left: 166px;
  width: 0;
  height: 0;
  border-left: 34px solid transparent;
  border-right: 34px solid transparent;

  border-top: 36px solid #FED56B;
}


@keyframes bounce {
  0% {
    transform: translate(0,0);
  }

  25% {
    transform: translate(0,4px);
  }

  50%{
    transform:translate (0,0);
  }

  100% {
    transform: translate(0,-4px);
  }
}



#inactive-tab{
  color: #B7B7B7;
  font-weight: lighter;
}

#inactive-tab:hover{
  color:#FED56B;
  transition: color .6s;
  cursor:pointer;
  animation: bounce 1.2s linear infinite alternate;
  animation-fill-mode: both;
}

.page-bottom{
  min-width:400px;
  margin: 0;
  padding: 0;
  width: 100%;
}


.blue{
  color: #4E90FF;
}


.tab-underline{

  border-radius: 10px;
  background: #FED56B;
  position: relative;
  left: 39px;
  top:80px;

  width: 60px;
  height: 3px;

}



#home-tabs{
    margin-left: 11.5%;
}

.ability-info{
  position: relative;
  left:28%;
}

/* Style the tab */
.tab {
  overflow: hidden;

  margin-left: 15%;
  width: 465px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  font-family: 'Jost';
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 43px;
  color: #000000;


  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 22px 32px;
  transition: 0.6s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  animation: bounce 1.2s linear infinite alternate;
  animation-fill-mode: both;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgba(14, 28, 65, 0.05);
}


/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-style: none;


}

.ability-tab {
  margin-top: 40px;
  margin-bottom: 46px;
  margin-left: 20.5%;


    width: 46%;


    display: flex;
    justify-content: space-between;
}

#tab-wrapper{
  max-width: 1750px;


}
/* Style the buttons that are used to open the tab content */
.ability-tab button {
  font-family: 'Bagnard';
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 43px;
  color: #FED56B;

  position: relative;
  left: 10.8%;


  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;

  transition: 0.6s;
}

/* Change background color of buttons on hover */
.ability-tab button:hover {
  animation: bounce 1.2s linear infinite alternate;
  animation-fill-mode: both;
}

/* Create an active/current tablink class */
.ability-tab button.active {

}


/* Style the tab content */
.ability-tabcontent {
  display: none;
  padding: 6px 12px;

  border-top: none;
  margin: auto;

}

.speech-bubble-P {
	position: relative;
  left: 22%;
	background: #000033;
	border-radius: .8em;

  height:auto;
  width: 53%;
  min-width: 750px;

  margin-bottom: 40px;
}

.speech-bubble-P:after {
	content: '';
	position: absolute;
	top: 16px;
	left: 11.6%;
	width: 0;
	height: 0;
	border: 43px solid transparent;
	border-bottom-color: #000033;
	border-top: 0;
	margin-left: -43px;
	margin-top: -43px;
}
.speech-bubble-Q {
	position: relative;
  left: 22%;
	background: #000033;
	border-radius: .8em;

  height:auto;
  width: 53%;
  min-width: 750px;

  margin-bottom: 40px;
}

.speech-bubble-Q:after {
	content: '';
	position: absolute;
	top: 16px;
	left: 30.8%;
	width: 0;
	height: 0;
	border: 43px solid transparent;
	border-bottom-color: #000033;
	border-top: 0;
	margin-left: -43px;
	margin-top: -43px;
}
.speech-bubble-W {
	position: relative;
  left: 22%;
	background: #000033;
	border-radius: .8em;

  height:auto;
  width: 53%;
  min-width: 750px;

  margin-bottom: 40px;
}

.speech-bubble-W:after {
	content: '';
	position: absolute;
	top: 16px;
	left: 49.7%;
	width: 0;
	height: 0;
	border: 43px solid transparent;
	border-bottom-color: #000033;
	border-top: 0;
	margin-left: -43px;
	margin-top: -43px;
}
.speech-bubble-E {
	position: relative;
  left: 22%;
	background: #000033;
	border-radius: .8em;

  height:auto;
  width: 53%;
  min-width: 750px;

  margin-bottom: 40px;
}

.speech-bubble-E:after {
	content: '';
	position: absolute;
	top: 16px;
	left: 68.9%;
	width: 0;
	height: 0;
	border: 43px solid transparent;
	border-bottom-color: #000033;
	border-top: 0;
	margin-left: -43px;
	margin-top: -43px;
}
.speech-bubble-R {
	position: relative;
  left: 22%;
	background: #000033;
	border-radius: .8em;

  height:auto;
  width: 53.9%;
  min-width: 750px;

  margin-bottom: 40px;
}

.speech-bubble-R:after {
	content: '';
	position: absolute;
	top: 16px;
	left: 86.5%;
	width: 0;
	height: 0;
	border: 43px solid transparent;
	border-bottom-color: #000033;
	border-top: 0;
	margin-left: -43px;
	margin-top: -43px;
}

#ability-icon{
  width: 80px;
  display: block;
  padding-bottom: 10px;
}

#ability-txt{
  padding: 42px;
  color: #FFFFFF;

  font-family: 'Roboto';
  font-style: normal;

  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
}

#ability-list{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;

  margin-left: 0px;

  color: #FFFFFF;
}

ul{
  margin-bottom: 0px;
}

.project-grid{
  display: inline-flex;
  text-align: center;
  margin-left: 10%;
  margin-bottom: 42px;
  width: 80%;

}

.project-block{
    width: 50%;
    border-radius: 10px;

    height: 240px;
    margin: 32px;

    border-style: solid;
    transition: .6s;

}
.project-block:before{
    content: "";

}

.project-block:hover{
  margin: 32px;
  transform: scale(1.05,1.05);
}

.block-content{
  padding-top: 13%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#design{
  margin-top: 17%;
}

#for-fun{
  padding-left:20px;
  padding-right:20px;
}

#project-text{
  text-align: center;
}



img {
  width:220px;
  height:auto;
}
