
@media only screen and (min-width:800px) and (max-width: 1025px){
  .project-header{
    height: 430px !important;
  }

  .navtext{
    padding-top: 30px !important;
  }

  .role-txt{
    max-width: 390px !important;
  }

  .button{
    position: relative;
    left: 80% !important;
    bottom: 40px;
  }

  #project-logo{
    padding-right: 70px !important;
  }

  .project-header-txt{
    max-width: 600px !important;
  }

  .team-txt{

    padding-right: 40px !important;

  }

  #project-div-div{
    margin-top: -12px !important
  }

}


@media only screen and (min-width:500px) and (max-width: 799px){
  .project-header{
    height: 460px !important;
  }

  #width{
    width: 540px !important;
  }

  h2{
    max-width: 500px !important;
  }

  .navtext{
    padding-top: 30px !important;
  }

  .role-txt{
    max-width: 320px !important;
  }

  .team-txt{
    padding-right: 30px !important;
    max-width: 200px !important;
    padding-left: 0px !important;
  }

  .button{
    position: relative;
    left: 76% !important;
    bottom: 40px;
  }

  #project-logo{
    padding-right: 10px !important;
    margin-right: 0px !important;

    padding-left: 48px !important;


    width: 170px !important;
  }

  #project-div-div{
    margin-top: -12px !important
  }

  .project-header-txt{
    position: relative !important;
    top: -18px !important;
    padding-left:0px !important;
  }

  #project-logo-img{
    width: 140px;
    padding-right: 0px !important;
  }

  .button2{
    width: 50px !important;
padding: 12px 28px;
margin-right: 0px !important;
  }

}

.project-header {
  height: 378px;
  width: 100%;
  background: #0E1C41;
  display: inline-flex;
  align-items: center;
  z-index: -1;

}

.project-head-content{
    display: inline-flex;
    align-items: center;



    z-index: 1;


}

.project-header {
  height: 360px;
  width: 100%;
  background: #0E1C41;
  display: inline-flex;
  align-items: center;
  z-index: -1;

}

.project-head-content{
    display: inline-flex;
    align-items: center;
    position: relative;

    top: -12px;

    z-index: 1;


}

.role-txt{
  max-width: 500px;

  font-family: "Roboto";
  color:#FFFFFF;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  padding-top: 14px;

}

#column1a{
  max-width: 50%;
  margin-right: 5%;
}

#column2a{
  max-width: 38%;
}

#column1b{
  max-width: 46%;
  padding-right: 30px;
}

#columnn2b{
  max-width: 50%;


}

.wide-row{
  position: relative;
  width: 80%;
  top: 40px;

  left: 12%;


}
