
@media only screen and (min-width:800px) and (max-width: 1025px){
  .project-header{
    height: 480px !important;
  }

  #width{
    width: 400px !important;
  }

  .navtext{
    padding-top: 30px !important;
  }

  .role-txt{
    max-width: 390px !important;
  }

  .button{
    position: relative;
    left: 80% !important;
    bottom: 40px;
  }

  #project-logo{
    padding-right: 70px !important;
  }

  .project-header-txt{
    max-width: 600px !important;
  }

  .team-txt-exp{

    padding-right: 40px !important;
    min-width: 219px !important;

  }

  #project-div-div{
    margin-top: -12px !important
  }

}
#width{
  width: 800px;
}

#cwg{
  font-style: italic;
  color: #2e4878;
}

.team-txt-exp{
  max-width: 500px;
  padding-right: 80px;
  color: white;

  font-family: "Roboto";
  color:#FFFFFF;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  padding-top: 14px;
  max-width: 400px;

  padding-bottom: 20px;

}

.project-header {
  height: 440px;
  width: 100%;
  background: #000033;
  display: inline-flex;
  align-items: center;
  z-index: -1;

}

.project-head-content{
    display: inline-flex;
    align-items: center;
    position: relative;


    z-index: 1;


}

.role-txt{
  max-width: 400px;

  font-family: "Roboto";
  color:#FFFFFF;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  padding-top: 14px;

}

#column1a{
  max-width: 50%;
  margin-right: 5%;
}

#column2a{
  max-width: 38%;
}

#column1b{
  max-width: 46%;
  padding-right: 30px;
}

#columnn2b{
  max-width: 50%;


}

.wide-row{
  position: relative;
  width: 80%;
  top: 40px;

  margin: auto;


}

.img-div-exp{
  margin: auto;
  width: 78%;


}

#caption-div-2{

  width: 80%;
  max-width: 800px;

  margin: auto;
  }
