
@media only screen and (max-width: 500px){
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }

  .page-bottom{
    display: none;
  }


  #home-mobile{
    display: block !important;
    color: white;
  }

}
