@media only screen and (min-width:800px) and (max-width: 1025px){

  .commission-header{
    height: 380px !important;
  }

  .button{
    position: relative;
    left: 80% !important;
    bottom: 40px;
  }

  .navtext{
    padding-top: 30px !important;
  }
}


.graphics-header {
  height: 220px;
  width: 100%;
  background: #0E1C41;
  display: inline-flex;
  align-items: center;
  z-index: -1;

}

#col-body-img img{
  padding-top: 20px;
  max-width: 484px;

  display: block;
  margin: auto;
}


.commission-header {
  height: 310px;
  width: 100%;
  background: #0E1C41;
  display: inline-flex;
  align-items: center;
  z-index: -1;

}


.graphics-head-content{
    display: inline-flex;
    align-items: center;
    position: relative;
    top: -8px;
    left: -8px;

    z-index: 1;


}

#graphics-div-div{
  padding-top: 6px;
  margin-bottom: -8px;
}

#graphics-div{
  border-radius: 10px;
  background: #FED56B;

  width: 400px;
  height: 8px;

}

#sub-width{
  max-width: 500px;
}

.twitch-txt{
  width: 90%;
  margin: auto;

  padding-bottom: 18px;
}

.img-div-2{
  margin: auto;
  padding-top: 20px;
  max-width: 1000px;
}

#blockquote{
  margin-bottom: 42px;
}

.commission-img{

  width: 68.5%;
  margin-top: 20px;

  margin: auto;

}



.img-div-3{

  width: 100%;
  margin-top: 30px;
  margin: auto;

  display: inline-flex;

}

.tab-img{
  padding-right: 20px;
  padding-left: 20px;


}

#column-img3{
  width: 100%;
  margin-top: 32px;
}

#column-img3 img{
  padding-top: 20px;
  max-width: 322px;

  display: block;
  margin: auto;
}

.tab-img-row{
  display: inline-flex;
  flex-direction: row;

  margin: auto;
}

.twitch-content{
  width: 70%;
  max-width: 1200px;
  margin: auto;
}


#column1-twitch{
  max-width: 50%;
  padding-right: 14px;

}

#column2-twitch{
  max-width: 50%;
  padding-left: 14px;
}

#body-img-tw img{
  padding-top: 40px;
  width: 100%;
  max-width: 1060px;

  display: block;
  margin: auto;
}


#blockquote-c{
  background-color: #f0f5ff;

  border-radius: 5px;
  border-style: solid;
  border-color: #91b4ff;


}

.button{
  margin-top: 28px;
}


#blockquote-c-full{
  background-color: #f0f5ff;

  border-radius: 5px;
  border-style: solid;
  border-color: #91b4ff;

  width: 60%;
  margin: auto;
  margin-bottom: 30px;

}
